EOS.VotingMachineController/Service References/MerkezService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EOS.MerkezService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EOS.MerkezService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="CandidateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ElectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsedFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VoteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoteStatus" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
</xs:schema>