WindowsFormsApplication1/Service References/srvPopulation/InternetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.222:5778/InternetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.222:5778/InternetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.222:5778/InternetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EOS.InternetService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternetService_SetVote_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVote" />
  </wsdl:message>
  <wsdl:message name="IInternetService_SetVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IInternetService_GetVoter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoter" />
  </wsdl:message>
  <wsdl:message name="IInternetService_GetVoter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoterResponse" />
  </wsdl:message>
  <wsdl:message name="IInternetService_GetCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidates" />
  </wsdl:message>
  <wsdl:message name="IInternetService_GetCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="IInternetService_SetFingerPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFingerPrint" />
  </wsdl:message>
  <wsdl:message name="IInternetService_SetFingerPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFingerPrintResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternetService">
    <wsdl:operation name="SetVote">
      <wsdl:input wsaw:Action="http://192.168.1.222:5778/InternetService/SetVote" message="tns:IInternetService_SetVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternetService/SetVoteResponse" message="tns:IInternetService_SetVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoter">
      <wsdl:input wsaw:Action="http://192.168.1.222:5778/InternetService/GetVoter" message="tns:IInternetService_GetVoter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternetService/GetVoterResponse" message="tns:IInternetService_GetVoter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCandidates">
      <wsdl:input wsaw:Action="http://192.168.1.222:5778/InternetService/GetCandidates" message="tns:IInternetService_GetCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternetService/GetCandidatesResponse" message="tns:IInternetService_GetCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFingerPrint">
      <wsdl:input wsaw:Action="http://192.168.1.222:5778/InternetService/SetFingerPrint" message="tns:IInternetService_SetFingerPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternetService/SetFingerPrintResponse" message="tns:IInternetService_SetFingerPrint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetVoterEp" type="tns:IInternetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetVote">
      <soap:operation soapAction="http://192.168.1.222:5778/InternetService/SetVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoter">
      <soap:operation soapAction="http://192.168.1.222:5778/InternetService/GetVoter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCandidates">
      <soap:operation soapAction="http://192.168.1.222:5778/InternetService/GetCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFingerPrint">
      <soap:operation soapAction="http://192.168.1.222:5778/InternetService/SetFingerPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternetService">
    <wsdl:port name="GetVoterEp" binding="tns:GetVoterEp">
      <soap:address location="http://192.168.1.222:5778/InternetService/GetVoter" />
    </wsdl:port>
    <wsdl:port name="SetVoteEp" binding="tns:GetVoterEp">
      <soap:address location="http://192.168.1.222:5778/InternetService/SetVote" />
    </wsdl:port>
    <wsdl:port name="GetCandidatesEp" binding="tns:GetVoterEp">
      <soap:address location="http://192.168.1.222:5778/InternetService/GetCandidates" />
    </wsdl:port>
    <wsdl:port name="SetFingerPrintEp" binding="tns:GetVoterEp">
      <soap:address location="http://192.168.1.222:5778/InternetService/SetFingerPrint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>