VotingMachine/Service References/MerkezService/MerkezService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.222:5779/MerkezService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EOS.MerkezService" />
  <xs:element name="GetServerDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="electionId" type="xs:int" />
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partyId" type="xs:int" />
        <xs:element minOccurs="0" name="usedFrom" type="xs:int" />
        <xs:element minOccurs="0" name="timeStampt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashingData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EOS.MerkezService" minOccurs="0" name="SetVoteResult" nillable="true" type="q1:SetVoteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveElection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveElectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EOS.MerkezService" minOccurs="0" name="GetActiveElectionResult" nillable="true" type="q2:VElectionDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>