VotingMachine/Service References/MerkezService/MerkezService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EOS.MerkezService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EOS.MerkezService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetVoteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AckCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="TrackingCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetVoteResult" nillable="true" type="tns:SetVoteResult" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="VElectionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ElectionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FinishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VElectionDetail" nillable="true" type="tns:VElectionDetail" />
</xs:schema>