EOS.Officier/Service References/NufusMudurluguService/TCNufusMudurlugu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TCNufusMudurlugu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCNufusMudurlugu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Citizen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Citizen" nillable="true" type="tns:Citizen" />
  <xs:complexType name="ArrayOfCitizen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Citizen" nillable="true" type="tns:Citizen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCitizen" nillable="true" type="tns:ArrayOfCitizen" />
</xs:schema>