EOS.Officier/Service References/NufusMudurluguService/TCNufusMudurlugu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.222:9999/TCNufusMudurlugu?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCNufusMudurlugu" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentityNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TCNufusMudurlugu" minOccurs="0" name="GetDataResult" nillable="true" type="q1:Citizen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitizens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitizensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCNufusMudurlugu" minOccurs="0" name="GetCitizensResult" nillable="true" type="q2:ArrayOfCitizen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>